.outerContainer1 {
    flex-direction: column;
}

.headingContainer {
    width: 156px;
    margin: auto;
    text-align: center;
    height: 12px;
}

.headingText {
    color: #a80e0e;
    width: 156px;
    font-family: AvengeanceMightiestAvenger;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: center;
    white-space: nowrap;
}

.subHeadingContainer {
    margin-top: 9px;
    text-align: center;
}

.subHeadingText {
    margin: auto;
    color: #382e36;
    width: auto;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    white-space: nowrap;
}

.imageOuter {
    margin: 0 auto;
    text-align: center;
}

.imageContainer {
    height: 6.5px;
    width: 188.5px;
    object-fit: contain;
}

@media screen and (max-width: 450px) {
    .subHeadingText {
        white-space: normal;
    }
}