.backgroundImage {
  background-image: url("../../assets/Untitled-1.png");
  height: 540px;
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.headerView {
  float: right;
  justify-content: center;
  align-self: center;
  align-content: center;
}
