.backgroundImage {
  background-image: url("../../assets/Untitled-1.png");
  height: 540px;
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.headerView {
  float: right;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.burgerImageContainer {
  padding-top: 2%;
  text-align: center;
}

.burgerImage {
  width: 106px;
  height: 73.1px;
  object-fit: contain;
}

.middleTextContainer {
  width: auto;
  margin-top: 2%;
  margin-left: 4%;
}

.partyText {
  width: 257px;
  height: 55.5px;
  font-family: AvengeanceMightiestAvenger;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: 1.44px;
  text-align: center;
  color: white;
  display: inline-block;
  white-space: nowrap;
}

.orangeImageContainer {
  background-image: url("../../assets/Group 1389.png");
  background-size: 100% auto;
  object-fit: contain;
  background-repeat: no-repeat;
  width: 394.2px;
  height: 86.9px;
  margin-top: -50px
}

.offerText {
  width: 185px;
  height: 38.5px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.33px;
  text-align: center;
  color: white;
  margin-left: 5%;
  padding-top: 7%;
}

.buttonContainer {
  background-image: url("../../assets/Rectangle 282.png");
  height: 34px;
  width: 127.5px;
  background-size: contain;
  border-radius: 45px;
  position: absolute;
  text-align: center;
  margin-top: 3%;
  background-repeat: no-repeat;
}

.orderNowText {
  font-family: AvengeanceMightiestAvenger;
  font-size: 13.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: 0.41px;
  text-align: center;
}

.separator {
  height: 35.8px;
  width: 100%;
  object-fit: contain;
  background-color: black;
}

/* bottom middle view */
.bmvImage {
  background-color: #ffaa00;
  height: 35.8px;
  width: 100%;
  object-fit: contain;
}

.carouselView {
  width: auto;
  background-color: #ffaa00;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 450px) {
  .burgerImage {
    margin-top: 4%;
    width: 90px;
    height: 50px;
    object-fit: contain;
  }

  .partyText {
    font-size: 25px;
  }

  .orangeImageContainer {
    background-size: 100% auto;
    object-fit: contain;
    width: 250px;
    height: 80px;
  }

  .offerText {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: white;
  }

  .buttonContainer {
    margin-left: 3%;
  }

}